{{#if user}}
<a href="/profile">My Profile</a><br>
<a href="/all-bilinguals">Show all biliguals</a><br>
<a href="/room">Create A Room</a><br>
<a href="/rooms">Find A Room</a><br>
<a href="/logout">Logout</a>

{{#each openRooms}}
<hr>
<h4>Name of the Room: {{roomName}}</h4>
<h5>Creator: {{user.name}} {{user.surname}}</h5>
<a href="{{link}}">Join the room</a>
<button type="submit"><a href="/{{_id}}">edit</a></button>
<button type="submit"><a name="delete" href="/{{_id}}">delete</a></button>
{{/each}}
{{else}}

<a href="/">BabyLingual</a>

<h1>Login</h1>
<form class="form-inline" action="/login" method="POST" class="form-control mr-sm-2">
  <input id="email" type="text" name="email" placeholder="Email address">
  <input id="password" type="password" name="password" placeholder="Password">
  <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Log in</button>
</form>

{{/if}}
